*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    background-color: darkgray;
    display: grid;
    grid-template-rows: repeat(10 , 1fr);
    grid-template-columns: repeat(24 , 1fr);
    border: 10px solid black;
}
.count-points{
    grid-column:1/-1;
    text-align: center;
    background-color:dimgrey;
    color: white;
    font-size: 24px;
    padding-top: 12px;
    height: 100%;
}
.head{
    background-color: gold;
    width: 100%;
    height: 100%;
    grid-column-start: 7;
    grid-row-start: 7;
    position: relative;
}
.body{
    background-color: green;
    width: 100%;
    height: 100%;
}
.food{
    background-color: crimson;
    width: 100%;
    height: 100%;
    grid-column-start: 10;
    grid-row-start: 4;
    position: relative;
    z-index: 99;
}
/* sec-game-over */
.sec-game-over{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
}
.sec-game-over h2{
    font-size: 50px;

}
.playerFood{
    color: rgb(157, 8, 37);
    font-size: 20px;
}
.sec-game-over button{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 70%;
    font-size: 23px;
    padding: 12px;
    cursor: pointer;
    border-radius: 12px;
}